html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    touch-action: none;
    background-color: #0c0c0c;
}

.htmlScreen iframe {
    width: 1580px;
    height: 960px;
    border-radius: 20px;
    background: black;
    border: none;
}